<div class='chat'>
  <p class='chat__title'>
    {{title}}
  </p>
  <img
    class='chat__avatar'
    src='{{avatar}}'
    alt='Аватарка чата'
  />
  <p class='chat__last-message'>{{last-message}}</p>
  <span class='chat__time'>{{time}}</span>
  <span class='chat__number-new-messages'>{{number-new-message}}</span>
</div>
