<form class='form'>
  <h1 class="form__title">{{title}}</h1>
  {{#block 'inputs'}}
  {{#if avatarLink}}
    <img class="form__avatar" src="{{avatarLink}}" alt="Аватар">
  {{/if}}
  <div class="form__inputs-block">
    {{#each inputs}}
    <label class="form__label" for="{{name}}">{{title}}</label>
      <input class="form__input" type='{{type}}' name="{{name}}" />
    {{/each}}
  </div>
  {{/block}}
  {{#block 'buttons'}}
  <div class="form__buttons-block">
    {{#each buttons}}
    {{#if link}}
    <a href="{{link}}">
    {{/if}}
      <button class="form__button" type="{{type}}">{{text}}</button>
    {{#if link}}
    </a>
    {{/if}}
  {{/each}}
  </div>
  {{/block}}
</form>
